# dependencies
**/node_modules
**/.pnp
.pnp.js
.vite

# testing
**/coverage

# output
**/out/
**/.cache
**/build
**/dist
**/generated/**
!**/generated/.gitkeep

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.*
.dev.vars
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts

# Editor cache directory
.vs/
.idea/

# moon
.moon/cache
.moon/docker

# project
!scripts/directus-steam-sync/out/
scripts/directus-steam-sync/out/*
!scripts/directus-steam-sync/out/steam-game-info-cache.json
!scripts/directus-steam-sync/out/steam-known-deleted-games-cache.json
!scripts/directus-steam-sync/out/steam-dissimilar-games-cache.txt
!scripts/directus-steam-sync/out/steam-unconfident-games-cache.txt
